{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-login100 m-y-5" style="background-image: url('/static/img/bg-01.jpg');">
  <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Error!</strong>{{form.errors.username}} {{form.errors.email}} {{form.errors.password1}} {{form.errors.password2}} 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <span class="login100-form-title p-b-37">
        CREATE ACCOUNT
      </span>

      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        {{form.email}}
        <span class="focus-input100"></span>
      </div>

      
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        {{form.password1}}
        <span class="focus-input100"></span>
      </div>

      
      <div class="wrap-input100 validate-input m-b-25" data-validate = "Enter password">
        {{form.password2}}
        <span class="focus-input100"></span>
      </div>

      <div class="container-login100-form-btn">
        <button class="login100-form-btn">
          Sign Up
        </button>
      </div>

      <div class="text-center p-t-57">
        <p>Have already account?</p>
        <a href="{{ login_url }}" class="txt2 hov1">
          Sign In
        </a>
      </div>
    </form>

    
  </div>
</div>
<script>
  var form_fields = document.getElementsByTagName('input')
  form_fields[2].className = "input100"
  form_fields[3].className = "input100"
  form_fields[4].className = "input100"
  form_fields[5].className = "input100"
</script>
{% endblock %}
